* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.cardHighlight {
  min-height: 100%;
}
#bg-image {
  min-height: 30vh;
  background-image: url("img/PurseBack.jpg");
  background-repeat: no-repeat;
  background-size:100%;
}

.front-bg   {
  min-height: 30vh;
  background-color: rgba(0, 0, 0,0.5);
}


.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #626567 ;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #212F3D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
